html{overflow-y:scroll;min-height:100%;-webkit-text-size-adjust:100%}body{position:relative}a:hover,a:active{outline:none}textarea{overflow:auto}img::selection{background:transparent}img::-moz-selection{background:transparent}fieldset,img,iframe{border:0}button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button}button[disabled],input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none}[hidden]{display:none}body{margin:0}p,hr,ul,ol,dl,blockquote,pre,fieldset,figure{margin:15px
0}h1,h2,h3,h4,h5,h6{margin:25px
0 15px 0}ul,ol,dl{padding-left:30px}dd{margin-left:40px}h1,h2,h3,h4,h5,h6{font-weight:normal}h1{font-size:36px;line-height:36px}h2{font-size:24px;line-height:24px}h3{font-size:18px;line-height:18px}h4,h5,h6{font-size:16px;line-height:16px}a,a:hover{text-decoration:none}b,strong{font-weight:bold}small{font-size:11px}ins{text-decoration:none}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}dfn[title]{font-style:normal}hr{display:block;height:1px;padding:0;border:0;border-top:1px solid}q,blockquote{quotes:'\201C' '\201D' '\2018' '\2019';font-family:"Times New Roman",Times,serif;font-style:italic}blockquote{padding:0
20px;font-size:16px;line-height:22px}blockquote:before{content:'\201C'}blockquote:after{content:'\201D'}code,pre{font-family:"Courier New",Courier,monospace}code{word-spacing:-2px}pre{padding:10px;font-size:12px;line-height:18px;white-space:pre-wrap;word-wrap:break-word}table{border-collapse:collapse;border-spacing:0}th,td{padding:1px}input,select{vertical-align:middle}select,input,textarea,button{font:12px Arial,sans-serif}form,textarea{margin:0}legend,fieldset,input{padding:0}textarea,input[type='text'],input[type='password'],select{padding:2px}select{line-height:19px}button,input[type='button'],input[type='submit']{padding:2px
3px}body{font:normal 14px/20px Arial,Helvetica,sans-serif;color:#444}a{color:#48b}a:hover,em,code{color:#d50}ins,mark{background-color:#ffa}mark{color:#444}hr{border-top-color:#ddd}pre{border:1px
solid #ddd;background:#fafafa}::-moz-selection{background:#39f;color:#fff}::selection{background:#39f;color:#fff}
.clearfix:before,.clearfix:after,.grid-block:before,.grid-block:after,.deepest:before,.deepest:after{content:"";display:table}.clearfix:after,.grid-block:after,.deepest:after{clear:both}.grid-box{float:left}.width16{width:16.666%}.width20{width:20%}.width25{width:25%}.width33{width:33.333%}.width40{width:40%}.width50{width:50%}.width60{width:60%}.width66{width:66.666%}.width75{width:75%}.width80{width:80%}.width100{width:100%}.width16,.width20,.width25,.width33,.width40,.width50,.width60,.width66,.width75,.width80,.width100{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}.bfc-o{overflow:hidden}.bfc-f{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;float:left}.float-left{float:left}.float-right{float:right}.grid-gutter.grid-block{margin:0
-15px}.grid-gutter>.grid-box>*{margin:0
15px}.grid-gutter>.grid-box>*>:first-child{margin-top:0}.grid-gutter>.grid-box>*>:last-child{margin-bottom:0}.wrapper{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;margin:auto}#header{position:relative}#toolbar .float-left .module,
#toolbar .float-left>time{margin:0
15px 0 0;float:left}#toolbar .float-right
.module{margin:0
0 0 15px;float:right}#headerbar
.module{max-width:300px;margin-right:0;float:right}#logo,#logo>img,#menu{float:left}#search{float:right}#banner{position:absolute;top:0;right:-200px}#footer{position:relative;text-align:center}#absolute{position:absolute;z-index:15;width:100%}.module,#header,#breadcrumbs,#content,#footer{margin:15px}#menu
.module{margin:10px
5px}#footer
.module{margin:0}#toolbar,#headerbar{margin-bottom:15px}#totop-scroller{display:block;position:absolute;top:0;right:0;z-index:1;width:20px;height:20px;background:url("/templates/tk_woodwork/images/totop_scroller.png") 50% 50% no-repeat;text-decoration:none}
.menu,
.menu
ul{margin:0px;padding:0px;list-style:none}.menu a,
.menu
span{display:block}.menu
a{text-decoration:none}.menu-dropdown
li{position:relative}.menu-dropdown,
.menu-dropdown .level1,
.menu-dropdown .level1>span{float:left}.menu-dropdown a.level1 > span,
.menu-dropdown span.level1>span{height:30px;padding:0
10px;line-height:30px}.menu-dropdown
.dropdown{display:none;position:absolute;top:30px;left:0;z-index:100;width:300px}.menu-dropdown li:hover .dropdown,
.menu-dropdown li.remain
.dropdown{display:block}.menu-dropdown li:hover .dropdown.flip,
.menu-dropdown li.remain
.dropdown.flip{left:auto;right:0}.menu-dropdown .dropdown-bg>div{overflow:hidden}.menu-dropdown .stack
.column{width:100%}.menu-dropdown
.columns2{width:600px}.menu-dropdown
.columns3{width:900px}.menu-dropdown
.columns4{width:1200px}.menu-dropdown
.column{float:left}.menu-dropdown a.level2 > span,
.menu-dropdown span.level2>span{padding:7px
0;line-height:21px;overflow:hidden}.menu-dropdown
ul.level3{padding-bottom:10px}.menu-dropdown
li.level3{font-size:11px;line-height:17px}.menu-dropdown
span.icon{display:block;background-repeat:no-repeat;background-position:50% 50%;float:left}.menu-dropdown .level1 .level1
span.icon{width:30px;height:30px;margin-left:-5px}.menu-dropdown .level1 .level1 span.icon + span,
.menu-dropdown .level1 .level1 span.icon+span+span{margin-left:25px}.menu-dropdown li.level2 .level2
span.icon{width:35px;height:35px;margin-top:-7px;margin-bottom:-7px}.menu-dropdown li.level2.hassubtitle .level2
span.icon{margin-top:-4px}.menu-dropdown li.level2 .level2
span.icon{margin-right:5px}.menu-dropdown li.level2 .level2 span.icon + span,
.menu-dropdown li.level2 .level2 span.icon+span+span{margin-left:40px}.menu-dropdown
span.title{line-height:18px}.menu-dropdown
span.subtitle{margin-top:-1px;font-size:9px;line-height:10px;text-indent:1px}.menu-dropdown li.level2 .level2
span.title{line-height:15px}.menu-dropdown li.level2 .level2
span.subtitle{line-height:14px}.menu-sidebar li.parent span.level1>span{cursor:pointer}.menu-sidebar a.level1 > span,
.menu-sidebar span.level1>span{padding:5px
0;line-height:20px}.menu-sidebar
span.title{display:inline}.menu-sidebar
span.subtitle{display:none}.menu-sidebar
ul.level2{padding-bottom:10px}.menu-sidebar li.level1:last-child
ul.level2{padding-bottom:0}.menu-sidebar .level2 a>span{font-size:11px;line-height:17px}.menu-sidebar
span.icon{display:inline-block;height:30px;width:30px;margin:-5px 5px -5px 0;background-repeat:no-repeat;background-position:50% 50%;vertical-align:middle}.menu-line,
.menu-line li,
.menu-line li
a{display:inline-block}.menu-dropdown{margin-bottom:-10px}.menu-dropdown
li.level1{margin-right:10px;padding-bottom:10px}.menu-dropdown a.level1,
.menu-dropdown
span.level1{border:1px
solid #DDD;color:#444}.menu-dropdown li.active
.level1{color:#48b}.menu-dropdown li.level1:hover .level1,
.menu-dropdown li.remain
.level1{color:#d50}.menu-dropdown
.dropdown{top:42px;border-top:1px solid #DDD}.menu-dropdown .dropdown-bg>div{padding:0
5px;border:1px
solid #ddd;border-top:none;background:#fff}.menu-dropdown
li.level2{margin:0
5px;border-top:1px solid #ddd}.menu-dropdown li.level2:first-child{border:none}.menu-dropdown a.level2,
.menu-dropdown
span.level2{color:#444}.menu-dropdown a.level2:hover{color:#d50}.menu-dropdown
a.current.level2{font-weight:bold}.menu-dropdown a.level3:hover{color:#d50}.menu-dropdown
a.current.level3{font-weight:bold}.menu-sidebar a,
.menu-sidebar li>span{color:#444}.menu-sidebar a:hover,
.menu-sidebar li>span:hover{color:#d50}.menu-sidebar
a.current{font-weight:bold}.menu-sidebar
li.level1{border-top:1px solid #ddd}.menu-sidebar li.level1:first-child{border-top:none}.menu-sidebar li.parent .level1>span{background:url("/templates/tk_woodwork/images/menu_sidebar_parent.png") 100% 0 no-repeat}.menu-sidebar li.parent.active .level1>span{background-position:100% -30px}.menu-sidebar ul.level2
ul{padding-left:10px}.menu-line
li{margin-left:7px;padding-left:8px;background:url("/templates/tk_woodwork/images/menu_line_item.png") 0 50% no-repeat}.menu-line li:first-child{margin-left:0;padding-left:0;background:none}
.wrapper{max-width:980px}#maininner{width:100%}#menu
.dropdown{width:250px}#menu
.columns2{width:500px}#menu
.columns3{width:750px}#menu
.columns4{width:1000px}
.module{position:relative}.module
.badge{position:absolute;top:0px;right:0px;z-index:1}.module .module-title
.icon{display:block;position:relative;top:-6px;width:30px;height:30px;margin-right:5px;overflow:hidden;float:left}.deepest>*:first-child{margin-top:0}.deepest>*:last-child{margin-bottom:0}.module .module-title{margin:0
0 15px 0}.module .module-title
span.title{display:block}.module .module-title
span.subtitle{display:block;margin-top:2px;line-height:14px;font-size:12px;text-indent:1px}.module
.badge{width:32px;height:22px;background:url("/templates/tk_woodwork/images/module_badges.png") 0 0 no-repeat}.module .badge-hot{background-position:0 0}.module .badge-top{background-position:0 -25px}.module .badge-free{background-position:0 -50px}.module .badge-new{background-position:0 -75px}.module .module-title
.icon{background:url("/templates/tk_woodwork/images/module_icons.png") 0 0 no-repeat}.module .module-title .icon-download{background-position:0 0}.module .module-title .icon-twitter{background-position:0 -30px}.module .module-title .icon-mail{background-position:0 -60px}.module .module-title .icon-bubble{background-position:0 -90px}.module .module-title .icon-login{background-position:0 -120px}.module .module-title .icon-cart{background-position:0 -150px}.mod-box{padding:15px;border:1px
solid #ddd}.mod-box
.badge{top:10px;right:10px}
.display-block{display:block}.remove-margin{margin:0}.remove-margin-t{margin-top:0}.remove-margin-b{margin-bottom:0}.hidden{display:none;visibility:hidden}.size-auto{max-width:100%;height:auto}.align-left,.alignleft{display:block;margin-right:15px;float:left}.align-right,.alignright{display:block;margin-left:15px;float:right}.align-center,.aligncenter{display:block;margin:auto;margin-bottom:10px}.text-left{text-align:left}.text-right{text-align:right}.text-center{text-align:center}.text-justify{text-align:justify}.button-more,.button-default,.button-primary{display:inline-block}.button-more+[class*=button-],.button-default+[class*=button-],.button-primary+[class*=button-]{margin-left:10px}ul.blank,ul.space,ul.line,ul.check,ul.zebra{list-style:none;margin:0;padding:0}ul.space
li{margin-top:15px}ul.space li:first-child{margin-top:0}ul.line>li{margin-top:5px;padding-top:5px}ul.line>li:first-child{margin-top:0;padding-top:0}ul.check>li{margin-top:5px}ul.check>li:first-child{margin-top:0}ul.zebra>li{padding:5px}ul.line>li>a:first-child,ul.check>li>a:first-child{display:block}table.zebra{width:100%}table.zebra
th{font-size:16px;font-weight:normal;text-align:left}table.zebra th,
table.zebra
td{padding:5px}table.zebra tbody,
table.zebra
tfoot{font-size:12px}table.zebra
.bold{font-weight:bold}table.zebra
.center{text-align:center}table.zebra td
*{vertical-align:middle}table.zebra
tfoot{font-style:italic}table.zebra
caption{font-size:11px;text-align:left;font-style:italic}dl.separator{padding:0;overflow:hidden}dl.separator
dt{width:160px;padding-right:10px;float:left;clear:both}dl.separator
dd{margin-left:170px;padding-left:20px}em.box{padding:0
3px;white-space:nowrap}hr.dotted{border:none}p.dropcap:first-letter {display:block;margin:7px
4px 0px 0px;float:left;font-size:280%;font-family:Georgia,"Times New Roman",Times,serif}.box-content,.box-note,.box-info,.box-warning,.box-hint,.box-download{margin:15px
0;padding:10px}.box-content{padding:20px}.box-info,.box-warning,.box-hint,.box-download{padding-left:40px}form.box
fieldset{margin-bottom:30px;padding:0
10px 10px 10px}form.box
legend{padding:0
10px}form.box fieldset>div{margin:15px
0}form.box button,
form.box input[type='button'],
form.box input[type='reset']{vertical-align:middle}form.short>div{margin:10px
0}form.short
input{color:#333}form.short input:-moz-placeholder{color:#999}form.short input::-webkit-input-placeholder{color:#999}form.short
input.placeholder{color:#999}.mobile-switcher{display:block;width:80%;margin:20px
auto 40px auto;padding:40px
0;font-size:50px;text-align:center}.button-default{padding:3px
10px;border:1px
solid #ddd}.button-primary{padding:3px
10px;background:#48b;color:#FFF}.button-primary:hover{color:#FFF;background:#d50}img.border-box{border:1px
solid #ddd}ul.line>li{border-top:1px solid #ddd}ul.line>li:first-child{border:none}ul.check>li{padding:4px
0 0 30px;background:url("/templates/tk_woodwork/images/tools/list_check.png") 0 0 no-repeat}ul.zebra > li,
table.zebra tbody
td{border-bottom:1px solid #ddd}ul.zebra > li:first-child,
table.zebra tbody tr:first-child
td{border-top:1px solid #ddd}ul.zebra > li.odd,
table.zebra tbody
tr.odd{background:#fafafa}ul.zebra > li:nth-of-type(odd),
table.zebra tbody tr:nth-of-type(odd){background:#fafafa}table.zebra
caption{color:#999}dl.separator
dt{position:relative;padding-top:5px;padding-bottom:5px;text-transform:uppercase}dl.separator
dd{padding-top:5px;padding-bottom:5px;border-width:0 0 0 1px;border-style:solid;border-color:#DDD}dl.separator dt:before{content:"";position:absolute;top:0;right:-15px;width:30px;border-top:1px solid #DDD}dl.separator dt:after{content:"";position:absolute;top:-3px;right:-3px;width:5px;height:5px;background:#FFF;border:1px
solid #DDD;border-radius:6px}dl.separator dt:first-child:before,
dl.separator dt:first-child:after{display:none}em.box{border:1px
dotted #bbb;background:#fafafa;color:#444}hr.dotted{background:url("/templates/tk_woodwork/images/tools/line_dotted.png") 0 0 repeat-x}.box-content{background:#fafafa;border:1px
solid #ddd}.box-note,.box-info,.box-warning,.box-hint,.box-download{background:#fafafa;border-top:1px solid #ddd;border-bottom:1px solid #ddd}.box-info{background:#ebf5fa url("/templates/tk_woodwork/images/tools/box_info.png") 0 0 no-repeat;border-color:#d2dce1}.box-warning{background:#fff0eb url("/templates/tk_woodwork/images/tools/box_warning.png") 0 0 no-repeat;border-color:#ffd7cd}.box-hint{background:#fffae6 url("/templates/tk_woodwork/images/tools/box_hint.png") 0 0 no-repeat;border-color:#fae6be}.box-download{background:#faffe6 url("/templates/tk_woodwork/images/tools/box_download.png") 0 0 no-repeat;border-color:#dce6be}form.box
fieldset{border:1px
solid #ddd}form.box
legend{background:#fff}
#system .page-title{margin-top:0;font-size:18px;line-height:18px}#system
.title{margin-top:0}#system .title
a{text-decoration:none}#system .title+.title{margin-top:20px}#system>.description{margin-bottom:30px;overflow:hidden}#system
small{font-style:italic}#system .item>header{margin-bottom:15px}#system .item>:first-child+header{margin-top:10px}#system .item > header
.title{margin-bottom:0}#system .item > header
.meta{margin:10px
0 0 0;font-size:11px;line-height:13px}#system .item > header
.subtitle{margin:0
0 8px 0;font-size:14px;line-height:16px;font-weight:normal;text-transform:uppercase}#system .item > .content > *:first-child:not(.grid-gutter),
#system .item>.content>*[class*="align"]:first-child+*{margin-top:0}#system .item>.content>*:last-child:not(.grid-gutter){margin-bottom:0}#system .item>.links{margin:22px
0 0 0}#system .item > .links
a{margin-right:15px}#system .item>.taxonomy{}#system .item>.trackback{}#system .item>.edit{}#system .item>*:last-child{margin-bottom:0}#system .item
.socialbuttons{margin-top:15px}#system .item .socialbuttons>div{margin-right:10px;float:left}#system
.items{margin:0
-10px 0 -10px}#system .items
.item{margin:0
10px 0 10px}#system .items > .width50
.title{font-size:22px;line-height:22px}#system .items > .width33
.title{font-size:20px;line-height:20px}#system .items > .width25
.title{font-size:18px;line-height:18px}#system
.pagination{margin-top:10px;text-align:center}#system .pagination
a{text-decoration:none}#system .pagination
strong{font-weight:normal}#system .pagination a,
#system .pagination
strong{display:inline-block;min-width:15px;height:25px;margin-left:5px;padding:0
5px;line-height:25px}#system .pagination>*:first-child{margin-left:0}#system .pagination a.previous,
#system .pagination
a.next{font-size:16px;line-height:23px}.searchbox{position:relative}.searchbox
input{width:100%;padding:0;border:none;outline:none;background:none;float:left}.searchbox
button{display:none}.searchbox.filled
button{display:block;position:absolute;top:0;bottom:0;right:0;padding:0;border:none;line-height:0;cursor:pointer}.searchbox.loading
button{}.searchbox
.results{position:absolute;top:30px;right:0;z-index:110;width:300px;margin:0;padding:0;list-style:none}.searchbox .results li.results-header,
.searchbox .results li.more-results{height:35px;line-height:35px;text-indent:15px;text-transform:uppercase}.searchbox .results li.more-results{cursor:pointer}.searchbox .results
li.result{padding:10px
15px;cursor:pointer}.searchbox .results li.result
h3{margin:0
0 5px 0;font-size:16px}.searchbox .results li.result
div{font-size:11px}.breadcrumbs{overflow:hidden}.breadcrumbs a,
.breadcrumbs span,
.breadcrumbs
strong{display:inline-block;text-decoration:none}.breadcrumbs a,.breadcrumbs>span{margin-right:10px}#system .author-box{margin:20px
0}#system .title+.author-box{margin-top:0}#system .author-box
.avatar{margin-right:15px;float:left}#system .author-box
.name{margin:0
0 10px 0;font-size:18px;font-weight:normal;line-height:22px}#system .author-box
.description{}#system
#comments{margin-top:20px}#system #comments h3.comments-meta{margin:0
0 10px 0}#system #comments
ul{margin:0;padding:0;list-style:none}#system #comments .comment-head{margin-bottom:10px;overflow:hidden}#system #comments .comment-head
.avatar{margin-right:10px;float:left}#system #comments .comment-head
.author{margin:8px
0 0 0;font-size:18px;line-height:18px;font-weight:bold}#system #comments .comment-head
.meta{margin:3px
0 0 0;font-size:11px}#system #comments .comment-body{margin-bottom:20px;padding:0
10px}#system #comments .comment-body
.content{text-align:justify}#system #comments .comment-body
.reply{margin:10px
0 0 0}#system #comments .no-response .comment-body
.reply{display:none}#system #comments .comment-body
.moderation{margin:10px
0 0 0;font-size:14px;font-style:italic}#system #comments ul.level1
ul{padding-left:55px}#system #respond
h3{margin:0
0 10px 0;font-size:18px;line-height:20px;font-weight:normal}#system #respond
p.user{margin:0}#system #respond input[type='text']{width:200px;height:25px;padding-left:5px;line-height:25px}#system #respond
textarea{width:100%;max-width:400px;height:100px}#system ul
#respond{margin:0
0 30px 0;padding-left:10px}.comments-list>article{margin-top:10px;padding-top:10px;overflow:hidden}.comments-list>article:first-child{margin:0;padding:0}.comments-list
.avatar{margin-right:10px;float:left}.comments-list
.author{margin:2px
0 0 0;font-size:12px;line-height:18px}.comments-list
.meta{margin:0;font-size:11px;line-height:13px;font-style:italic}.comments-list .content
p{margin:5px
0 0 0}.tagcloud{list-style:none;margin:0;padding:0;text-align:center}.tagcloud
li{display:inline-block;line-height:20px;vertical-align:middle}.tagcloud
a{white-space:nowrap}.tagcloud .weight1
a{font-size:11px}.tagcloud .weight2
a{font-size:12px}.tagcloud .weight3
a{font-size:13px}.tagcloud .weight4
a{font-size:14px}.tagcloud .weight5
a{font-size:15px}.tagcloud .weight6
a{font-size:16px}.tagcloud .weight7
a{font-size:18px}.tagcloud .weight8
a{font-size:20px}.tagcloud .weight9
a{font-size:23px;letter-spacing:-1px}.tagcloud .weight10
a{font-size:26px;letter-spacing:-1px}.page-nav{margin-top:15px}.page-nav
.prev{float:left}.page-nav
.next{float:right}#system .item > header
.icon{margin:2px
0 0 5px;float:right}#system .item > .edit
a{vertical-align:text-top}#system .item-list{margin-top:10px;overflow:hidden}#system
.filter{margin:0
0 10px 0;overflow:hidden}#system .filter>div{margin:0
10px 0 0;float:left}#system form.submission fieldset>div{overflow:hidden}#system form.submission fieldset>div>*{vertical-align:middle}#system form.submission fieldset>div>label:first-child{display:block;width:150px;float:left}#system form.submission fieldset > div > input[type='text'],
#system form.submission fieldset>div>input[type='password']{padding:5px;width:250px}#system form.submission fieldset>div>select{padding:5px;width:262px}#system form.submission fieldset>div>textarea{width:255px}#system form.submission
small{display:block;margin:-25px 0 25px 0}#system form.submission
div.submit{margin-top:-20px;text-align:center}#system form.submission div>.calendar{margin-left:5px}#system form.submission
#metadesc{height:100px}#system form.submission
#metakey{height:60px}#system
.invalid{border-color:#f00}#system
label.invalid{color:#f00}#system a
img.calendar{width:16px;height:16px;margin-left:3px;background:url("/templates/system/images/calendar.png") no-repeat;cursor:pointer;vertical-align:middle}#system #editor-xtd-buttons{margin:10px
0 10px 0;padding:0}#system #editor-xtd-buttons .button2-left,
#system #editor-xtd-buttons .button2-left
*{float:left}#system #editor-xtd-buttons .button2-left{margin-right:5px;background:url("/templates/system/images/j_button2_left.png") no-repeat}#system #editor-xtd-buttons .button2-left
.image{background:url("/templates/system/images/j_button2_image.png") 100% 0 no-repeat}#system #editor-xtd-buttons .button2-left .article,
#system #editor-xtd-buttons .button2-left
.readmore{background:url("/templates/system/images/j_button2_readmore.png") 100% 0 no-repeat}#system #editor-xtd-buttons .button2-left
.pagebreak{background:url("/templates/system/images/j_button2_pagebreak.png") 100% 0 no-repeat}#system #editor-xtd-buttons .button2-left a,
#system #editor-xtd-buttons .button2-left
span{display:block;height:22px;padding:0
24px 0 6px;line-height:22px;font-size:11px;color:#666}#system #editor-xtd-buttons .button2-left
span{color:#999}#system #editor-xtd-buttons .button2-left a:hover{text-decoration:none;color:#0B55C4}#system form.submission.small fieldset>div{margin:15px
0}.tip-wrap{display:none;float:left;background:#ffc;border:1px
solid #D4D5AA;padding:5px;max-width:200px;color:#323232;font-size:12px}.tip-title{margin-top:-15px;padding:15px
0 5px 0;background:url("/templates/system/images/selector-arrow.png") no-repeat;font-weight:bold;font-size:13px}#article-index{margin:0
0 15px 15px;float:right}#article-index ul,.pagination>ul{list-style:none;margin:0;padding:0}.pagination>ul>li{display:inline-block}#system-message{margin:0
0 10px 0;padding:0}#system-message
dt{display:none}#system-message
dd{margin-left:0;padding:10px;border-top:3px solid #84A7DB;border-bottom:3px solid #84A7DB;color:#05B}#system-message dd
ul{margin:0;padding:0;list-style:none}#system-message
dd.error{color:#c00;background-color:#E6C0C0;border-top:3px solid #DE7A7B;border-bottom:3px solid #DE7A7B}#system-message
dd.notice{color:#c00;background:#EFE7B8;border-top:3px solid #F0DC7E;border-bottom:3px solid #F0DC7E}#system-debug{padding:30px;background:#fff;color:#333}#system-debug
div{font-size:11px}#system .title
a{color:#444}#system
small{color:#999}#system .item > header
.meta{color:#999}#system .item > header
.subtitle{color:#777}#system .item > .links a:after{content:" »";font-size:16px}#system .items
.item{margin-top:12px;padding-top:18px;border-top:1px solid #ddd}#system .items .item:first-child{margin-top:0;padding-top:0;border-width:0}#system .pagination a,
#system .pagination
strong{border:1px
solid #ddd}.searchbox{width:100px;height:30px;padding:0
25px;border:1px
solid #ddd;background:url("/templates/tk_woodwork/images/searchbox_magnifier.png") 0 50% no-repeat}.searchbox
input{height:30px;color:#333;font-size:14px}.searchbox input:-moz-placeholder{color:#999}.searchbox input::-webkit-input-placeholder{color:#999}.searchbox
input.placeholder{color:#999}.searchbox.filled
button{width:25px;background:url("/templates/tk_woodwork/images/searchbox_reset.png") 50% 50% no-repeat}.searchbox.loading
button{background:url("/templates/tk_woodwork/images/searchbox_loader.gif") 50% 50% no-repeat}.searchbox
.results{top:41px;right:-1px;width:300px;border:1px
solid #ddd;background:#fff}.searchbox .results li.results-header{border-bottom:1px solid #ddd}.searchbox .results li.more-results{border-top:1px solid #ddd}.searchbox .results
li.result{border-top:1px solid #eee}.searchbox .results li.results-header+li.result{border-top:none}.searchbox .results
li.result.selected{background-color:#fafafa}.breadcrumbs a,.breadcrumbs>span{padding-right:10px;background:url("/templates/tk_woodwork/images/breadcrumbs.png") 100% 50% no-repeat}#system .author-box{padding:15px;border-top:1px solid #ddd;border-bottom:1px solid #ddd;background:#fafafa}#system .author-box
.avatar{padding:3px;border:1px
solid #ddd;background:#fff}#system .author-box
.name{color:#444}#system #comments .comment-head{padding:5px;border:1px
solid #e6e6e6;background:#fafafa}#system #comments .comment-byadmin .comment-head{border:1px
solid #dce6be;background:#faffe6}#system #comments .comment-head
.author{text-shadow:1px 1px 0 rgba(255, 255, 255, 1)}#system #comments ul.level1
ul{background:url("/templates/tk_woodwork/images/comments_arrow.png") 0 0 no-repeat}#system #respond
h3{color:#444}.comments-list>article{border-top:1px solid #ddd}.comments-list>article:first-child{border:none}.comments-list
.meta{color:#999}#system .items .leading
.item{padding-bottom:12px;margin-bottom:18px;border-bottom:1px solid #ddd}#system .item-list{border-top:1px solid #ddd}#system
span.highlight{background-color:#ffa}

#page{background:url("/templates/tk_woodwork/images/background.png");background-attachment:fixed}#main,#top-a,#top-b,#bottom-a,#bottom-b{background:#ffe8b2}#toolbar,#headerbar{color:#fff}#logo
p{margin:0;padding:0}#menubar{background:#3b2500;padding:5px}#header,#headerbar{margin:0;padding:0}#footer{color:#ffe8b2}#footer
a{color:#ffcd56}#footer a:hover{color:#fff}#system .item > header
.meta{color:#3b2500}#system .title
a{color:#3b2500}#system .pagination a,
#system .pagination
strong{border:1px
solid #ffc747;background:#ffe19c}#system .items
.item{margin-top:12px;padding-top:18px;border-top:1px dashed #ffc747}#system .items .leading
.item{padding-bottom:12px;margin-bottom:18px;border-bottom:1px dashed #ffc747}#system .item-list{border-top:1px dashed #ffc747}.searchbox{width:100px;height:30px;padding:0
25px;border:1px
solid #ddd;background:#fff url("/templates/tk_woodwork/images/searchbox_magnifier.png") 0 50% no-repeat}.searchbox
.results{top:41px;right:-1px;width:300px;border:none;background:#3b2500;color:#fff}.searchbox .results
h3{color:#ffe8b2}.searchbox .results
li.result.selected{background-color:#754900}#system
span.highlight{background-color:#ffc133}.links a, form.short input[type="submit"], form.box button, form.box input[type="button"],button, input[type="button"], input[type="submit"] [type="reset"],.button-default{padding:6px
8px 6px 8px;background:#754900;color:#fff;border:none}#system form.submission fieldset > div > textarea, #system form.submission fieldset > div > input[type="text"], form.box fieldset, form.box legend,textarea,input,select{border:1px
solid #ffc747}#system
small{color:#000}.menu-dropdown a.level1,
.menu-dropdown
span.level1{border:none;color:#fff}.menu-dropdown li.active
.level1{color:#fff;background:#754900}.menu-dropdown li.level1:hover .level1,
.menu-dropdown li.remain
.level1{color:#fff;background:#a16500}.menu-dropdown
li.level2{margin:2px;border-top:none}.menu-dropdown a.level2,
.menu-dropdown
span.level2{background:#754900;color:#fff}.menu-dropdown a.level2:hover{color:#fff;background:#a16500}.menu-dropdown a.level2 > span,
.menu-dropdown span.level2>span{padding:5px
6px}.menu-dropdown
a.level3{padding-left:20px;color:#fff}.menu-dropdown .dropdown-bg>div{padding:2px;border:none;border-top:none;background:#3b2500;color:#fff}.menu-sidebar a,
.menu-sidebar li>span{color:#178ee9}.menu-sidebar
li.level1{border-top:1px solid #ffc747}.mod-box{padding:15px;border:none;background:#ffe19c}body{color:#000}h1,h2,h3,h4,h5,h6{color:#3b2500}a{color:#178ee9}hr{border-top-color:#ffc747}ul.zebra > li,
table.zebra tbody
td{border-bottom:1px solid #ffc747}ul.zebra > li:first-child,
table.zebra tbody tr:first-child
td{border-top:1px solid #ffc747}ul.zebra > li.odd,
table.zebra tbody
tr.odd{background:#ffe19c}ul.zebra > li:nth-of-type(odd),
table.zebra tbody tr:nth-of-type(odd){background:#ffe19c}table.zebra
caption{color:#000}ul.line>li{border-top:1px solid #ffc747}dl.separator
dd{padding-top:5px;padding-bottom:5px;border-width:0 0 0 1px;border-style:solid;border-color:#ffc747}dl.separator dt:before{content:"";position:absolute;top:0;right:-15px;width:30px;border-top:1px solid #ffc747}dl.separator dt:after{content:"";position:absolute;top:-3px;right:-3px;width:5px;height:5px;background:#FFF;border:1px
solid #ffc747;border-radius:6px}
h1,h2,h3,h4,h5,h6{font-family:Arial,Helvetica,sans-serif}
.menu-dropdown a.level1,
.menu-dropdown
span.level1{font-family:Arial,Helvetica,sans-serif}

.hidden-desktop{display:none}@media (max-width: 767px){.hidden-desktop{display:block}.hidden-phone{display:none}}@media (min-width: 768px) and (max-width: 959px){.hidden-desktop{display:block}.hidden-tablet{display:none}}#header-responsive{display:none}@media (max-width: 1220px){#banner{display:none}}@media (max-width: 959px){#maininner,#sidebar-a,#sidebar-b{width:100%;left:auto;right:auto}}@media (min-width: 480px) and (max-width: 959px){.width16,.width20,.width25,.width40,.width60,.width75,.width80{width:50%}.width50
.width50{width:100%}.sidebars-1 #sidebar-a .width100,
.sidebars-1 #sidebar-b
.width100{width:50%}#sidebar-a .width100:nth-child(odd):last-child,
#sidebar-b .width100:nth-child(odd):last-child,.width20:nth-child(odd):last-child{width:100%}.sidebars-2 #sidebar-a,
.sidebars-2 #sidebar-b{width:50%}.sidebars-2.sidebar-a-right #sidebar-a,
.sidebars-2.sidebar-b-right #sidebar-b{float:right}.grid-gutter>.grid-box:nth-child(n+3)>*{margin-top:30px}.width50 .align-left,
.width50 .alignleft,
.width50 .align-right,
.width50
.alignright{margin:0
auto 15px auto;float:none}}@media (max-width: 767px){#header-responsive{display:block}#header-responsive .logo,
#header-responsive
.searchbox{display:inline-block;width:45%;vertical-align:middle}#header-responsive
.logo{margin-right:10%}#header-responsive
.searchbox{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}.menu-responsive{width:100%;font-size:14px}}@media (min-width: 480px) and (max-width: 767px){.width33{width:50%}.width33:nth-child(odd):last-child{width:100%}}@media (max-width: 479px){body{word-wrap:break-word}.width16,.width20,.width25,.width33,.width40,.width50,.width60,.width66,.width75,.width80{width:100%}.grid-gutter>.grid-box:nth-child(n+2)>*{margin-top:30px}.align-left,.alignleft,.align-right,.alignright{margin:0
auto 15px auto;float:none}}@media (max-width: 1220px){}@media (max-width: 959px){}@media (min-width: 768px) and (max-width: 959px){}@media (min-width: 480px) and (max-width: 959px){#search{display:none}}@media (max-width: 767px){#toolbar,#headerbar,#menubar,#breadcrumbs,#totop-scroller{display:none}}@media (min-width: 480px) and (max-width: 767px){}@media (max-width: 479px){#system .items .item,
#system .items .item:first-child{margin-top:12px;padding-top:18px;border-top-width:1px}#system .items :first-child .item:first-child{margin-top:0;padding-top:0;border-width:0}#system .items .leading
.item{margin-bottom:0;padding-bottom:0;border-width:0}}
@media
print{*{background:transparent !important;color:black !important;box-shadow:none !important;text-shadow:none !important;filter:none !important;-ms-filter:none !important}a,a:visited{text-decoration:underline}pre,blockquote{border:1px
solid #999;page-break-inside:avoid}thead{display:table-header-group}tr,img{page-break-inside:avoid}img{max-width:100% !important}@page{margin:0.5cm}p,h2,h3{orphans:3;widows:3}h2,h3{page-break-after:avoid}}